.favicon{
    height: 60px;
    width: 90px;
}
.header_area .navbar .nav .nav-item.active .nav-link {
    color: #ed1c24;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #ed1c24;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background-image: -moz-linear-gradient(0deg, #ed1c24 0%, #2C2172 100%);
    background-image: -webkit-linear-gradient(0deg, #ed1c24 0%, #2C2172 100%);
    background-image: -ms-linear-gradient(0deg, #ed1c24 0%, #2C2172 100%);
    color: #fff;
}
.imgresize{
    height: 300px;
    width: 250px;
}
h4{
    color:white;
}
.gradient_btn{
    width: 160px;
} 
.manymore a{
    color: #222222;
}


.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }
  
  .fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      height: 300%;
      top: -97%;
    }
  }
  
  @media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
      width: 300%;
      left: -100%;
    }
  }
  
  @media (max-width: 767px) {
    .fullscreen-bg {
      background: url('/img/banner/fifa.mp4') center center / cover no-repeat;
    }

  }